/* Index sirve para importar los estilos de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-change {
  0% {
    color: var(--accent-color);
  }
  50% {
    color: #ffc107; /* O puedes usar el color que quieras */
  }
  100% {
    color: var(--accent-color);
  }
}

html, body {
  font-size: 18.5px;
  scroll-behavior: smooth; /* <-- Añade esta línea */
}

section[id] {
  scroll-margin-top: 2rem; 
}

body {
  @apply bg-darkBackground text-primaryText font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}